dotnet/Pankaj/Demos/Dec22/WcfDataContract/WindowsFormsApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bsal" type="xs:int" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eid" type="xs:int" />
      <xs:element minOccurs="0" name="Ename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>