dotnet/Pankaj/Demos/Dec20/UseOfWcfWebSite/App_WebReferences/MyRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4152/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4152/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4152/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService1_FetchAllStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService1_FetchAllStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService1_ShowStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentService1_ShowStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowStudentByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService1">
    <wsdl:operation name="FetchAllStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService1/FetchAllStudent" message="tns:IStudentService1_FetchAllStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService1/FetchAllStudentResponse" message="tns:IStudentService1_FetchAllStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService1/ShowStudentById" message="tns:IStudentService1_ShowStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService1/ShowStudentByIdResponse" message="tns:IStudentService1_ShowStudentById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService1" type="tns:IStudentService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchAllStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService1/FetchAllStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentService1/ShowStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IStudentService1" binding="tns:BasicHttpBinding_IStudentService1">
      <soap:address location="http://localhost:4152/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>